{% extends "_layouts/cp" %}
{% set title = "Generator"|t %}

{% import "_includes/forms" as forms %}

{% set tabs = {
    tab1: { label: "Raw Input"|t, url: url('generator') },
    tab2: { label: "Available Files"|t, url: url('generator/files') },
} %}

{% set content %}

    {# Output of Submitted Data #}

    {% if result is defined %}
        <table class="shadow-box editable">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Results</th>
                </tr>
            </thead>
            <tbody>
                {% for item in result %}
                {% if item.result %}
                    <tr class="success">
                {% else %}
                    <tr class="error">
                {% endif %}
                        <td>{{ item.type }}</td>
                        <td>{{ item.name }}</td>
                    {% if item.result %}
                        <td class=" action">{{ "Success"|t }}</td>
                    {% else %}
                        <td class="action">{{ "Error"|t }}</td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if filename is defined %}
        <h2><span class="light">{{ "Loaded"|t }}: </span>{{ filename }}</h2>
    {% endif %}

    {# Generator Input Form #}

    <form class="field" action="" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="generator/generate">

        {# Text Area for Input Data #}
        {{ forms.textarea({
            name: 'json',
            class: 'nicetext code',
            value: (json is defined ? json : null),
            first: true,
            autofocus: true,
            rows: 24
        }) }}

        <input type="submit" class="btn submit" value="Generate">
    </form>

{% endset %}
